<!-- Mock-up >> will use .ts logic to parse json from firebase -->
<header>
  <mat-toolbar fxLayoutAlign="space-between center">
    <div>
      <a [routerLink]="['/']"
        ><mat-icon color="primary" class="logo">facebook</mat-icon></a
      >
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
      <span fxHide.lt-md fxLayoutAlign="end center">Asuka Langley Soryu</span>

      <mat-divider [vertical]="true"></mat-divider>

      <button mat-icon-button>
        <img
          src="../../../assets/images/avartars/asuka.jpg"
          class="avartar"
          [matMenuTriggerFor]="menu"
        />
        <mat-menu #menu="matMenu">
          <!-- use *nfIf user == false => display login -->
          <button mat-menu-item routerLink="/login">
            <mat-icon>login</mat-icon>
            Sign in
          </button>
          <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            Sign out
          </button>
        </mat-menu>
      </button>
    </div>
  </mat-toolbar>
</header>
