<!-- note: this Component is using SCSS to positioning layout -->
<section>
  <div class="container" fxLayout="row">
    <div id="logo" fxHide.lt-md>
      <img src="../../../assets/images/logo.svg" alt="Facebook logo" />
    </div>
    <mat-divider [vertical]="true"> </mat-divider>
    <div id="form">
      <div class="form__container">
        <h1>Welcome to Facebook</h1>
        <form>
          Username:<br />
          <mat-form-field appearance="outline">
            <mat-label>username</mat-label>
            <input matInput placeholder="please enter your username" />
            <mat-icon matSuffix class="passed">check_circle</mat-icon>
            <!-- <mat-icon matSuffix class="passed">error</mat-icon> --> </mat-form-field
          ><br />
          Password:<br />
          <mat-form-field appearance="outline">
            <mat-label>password</mat-label>
            <input matInput placeholder="please enter your password" />
            <mat-icon matSuffix class="passed">check_circle</mat-icon>
            <!-- <mat-icon matSuffix class="passed">error</mat-icon> --> </mat-form-field
          ><br />
          <button mat-raised-button color="primary">Login</button><br /><br />
          not a member? <a [routerLink]="['/register']">Signup now!</a>
        </form>
      </div>
    </div>
  </div>
</section>
